body {
  font-family: sans-serif;
}

hr {
  width: 90%;
  margin: 20px auto;
}

.colorBlock {
  height: 200px;
  width: 200px;
  margin: 1%;
  border: 1px solid black;
}

.colorBlock:hover {
  cursor: pointer;
}

.result {
  text-align: center;
  background-color: white;
  margin: 20px auto;
  width: 90px;
}

#messaging {
  text-align: center;
}

#blockContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
