body {
  font-family: sans-serif;
}

.colorBlock {
  display: inline-block;
  height: 200px;
  width: 200px;
}

.colorBlock:hover {
  cursor: pointer;
}

#messaging {
  text-align: center;
}

#blockContainer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#red {
  background: red;
}

#green {
  background: green;
}

#yellow {
  background: yellow;
}

#blue {
  background: blue;
}
